In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('titanic.csv')

In [6]:
data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,0,22.0,1,0,7.2500,0,0,1
1,2,1,1,1,38.0,1,0,71.2833,1,0,0
2,3,1,3,1,26.0,0,0,7.9250,0,0,1
3,4,1,1,1,35.0,1,0,53.1000,0,0,1
4,5,0,3,0,35.0,0,0,8.0500,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,27.0,0,0,13.0000,0,0,1
887,888,1,1,1,19.0,0,0,30.0000,0,0,1
888,889,0,3,1,29.0,1,2,23.4500,0,0,1
889,890,1,1,0,26.0,0,0,30.0000,1,0,0
890,891,0,3,0,32.0,0,0,7.7500,0,1,0

In [47]:
y = data['Survived']
x = data.drop(columns=('Survived'))

In [72]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x, y)  # обучаем модель
prediction = model.predict(x)  # делаем предсказание
output = pd.DataFrame({'PassengerId':data.PassengerId, 'Survived':prediction})
output

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]

In [73]:
f1_score(y, prediction)

0.7867768595041323

In [74]:
model.score(x,y)

0.8552188552188552

In [75]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(x, y)
yy = clf.predict(x)
clf.score(x, y)

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8013468013468014

In [63]:
from sklearn.metrics import f1_score
f1_score(y, yy)

0.7272727272727273

In [67]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [65]:
clf.coef_ , clf.intercept_

(array([[ 3.61447025e-04, -8.24163335e-01,  2.69986173e+00,
         -2.46506183e-02, -2.48692882e-01, -1.14069934e-01,
          4.41164104e-03,  3.89755223e-01,  1.31095623e-01,
          1.58510442e-01]]),
 array([0.70139583]))

In [68]:
from sklearn.metrics import accuracy_score
accuracy_score(y,yy)

0.8013468013468014