In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [3]:
iris = datasets.load_iris()
X = iris.data
y = iris.target

In [9]:
pd.DataFrame(X,columns=iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
pd.DataFrame(iris.target,columns=['Class']).value_counts()

Class
0        50
1        50
2        50
dtype: int64

Понижение размерности

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=7)

In [13]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [17]:
pd.DataFrame(X_train,columns=iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                6.2               2.8                4.8               1.8
1                5.7               2.6                3.5               1.0
2                4.6               3.6                1.0               0.2
3                6.9               3.1                5.4               2.1
4                6.4               2.9                4.3               1.3

In [16]:
pd.DataFrame(X_train_st,columns=iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.433259         -0.596536           0.626011          0.820905
1          -0.157549         -1.056885          -0.097380         -0.216028
2          -1.457326          1.244861          -1.488515         -1.252960
3           1.260390          0.093988           0.959884          1.209754
4           0.669582         -0.366361           0.347784          0.172822

In [18]:
clr = RandomForestClassifier(max_depth = 2, random_state = 0)
clr.fit(X_train_st, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [19]:
y_pred=clr.predict(X_test_st)

Оценим эффективность

In [20]:
cm = metrics.confusion_matrix(y_test,y_pred)

In [24]:
print(cm)
print(metrics.accuracy_score(y_test,y_pred))

[[ 7  0  0]
 [ 0 10  2]
 [ 0  2  9]]
0.8666666666666667

In [25]:
pca_1 = PCA(n_components = 1)
X_train_st_c1 = pca_1.fit_transform(X_train_st)
X_test_st_c1 = pca_1.transform(X_test_st)

In [29]:
clr = RandomForestClassifier(max_depth = 2, random_state = 0)
clr.fit(X_train_st_c1, y_train)

y_pred=clr.predict(X_test_st_c1)

cm = metrics.confusion_matrix(y_test,y_pred)

print(cm)
print(metrics.accuracy_score(y_test,y_pred))

[[ 7  0  0]
 [ 0 10  2]
 [ 0  3  8]]
0.8333333333333334

In [30]:
pca_1 = PCA(n_components = 2)
X_train_st_c1 = pca_1.fit_transform(X_train_st)
X_test_st_c1 = pca_1.transform(X_test_st)